@font-face {
    font-family: overpass;
    /*src: url(https://rawgit.com/RedHatBrand/overpass/master/Webfonts/Overpass-ExtraLight.ttf);*/
    /*src: url(https://rawgit.com/RedHatBrand/overpass/master/Webfonts/Overpass-Light.woff);*/
    src: url(https://rawgit.com/RedHatBrand/overpass/master/Webfonts/Overpass-Regular.woff);
}

body {
  /*font: 10px sans-serif;*/
  font: 10px overpass;
  shape-rendering: crispEdges;
  background-color: white;
  overflow: hidden;
}

.container {
    background-color: lightgrey;
}

/*.day rect {*/
  /*stroke: #ccc;*/
  /*fill: white;*/
/*}*/

.day {
    stroke-width: 0px;
        /*background-color: white;*/
}

.day text {
    /*stroke: black;*/
    fill: black;
    /*font-weight: bold;*/
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.xaxis path {
    display: none;
}
.xaxis line {
  /*fill: none;*/
  display: none;
  /*stroke: #000;*/
  /*stroke: none;*/
  /*shape-rendering: crispEdges;*/
}